#myDialogPanel.my-panel-body {
    padding: 0px;
}

.story-container {
    border-color: aquamarine;
    border: 1px;
    font-family: "Lucida Grande", "Arial", "Helvetica", "Verdana", sans-serif;
    color: #555;
    text-align: left;
    /*font-size: 0.84em;*/
    font-size: 13px;
}

.story {
    font-size: 14px;
}

.narrative {
    color: blue;
}

.narrative .label {
    /*display: block;*/
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}

.narrative .keyword {
    padding-left: 10px;
    font-weight: bold;
}

.scenarios {
    /*padding-top: 10px;*/
    /*padding-left: 10px;*/
    /*color: #008844;*/
}

.scenario {
    padding-top: 10px;
    /*padding-top: 10px;*/
    /*padding-left: 10px;*/
    color: #008844;
}

.scenario .label {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    /*padding-left: 0px;*/
}

.scenario .title {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.scenario .steps {
    padding-left: 10px;
}

.scenario .step {
    /*font-size: 20px;*/
    /*font-weight: bold;*/
    /*color: #555;*/
}

.scenario .step .keyword {
    font-weight: bold;
}

.scenario .table-parameter {
    color: #cc6600;
    /*border-color: #cc6600;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
}

.scenario .table-parameter .header {
    font-style: italic;
    /*border-color: #cc6600;*/
    /*border-left: solid;*/
    /*border-width: 1px;*/
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
}

.scenario .table-parameter .value {
    /*font-style: italic;*/
    /*border-color: #cc6600;*/
    /*border-left: solid;*/
    /*border-width: 1px;*/
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
}

/****************************************************************************************************/
/* Story report */
/****************************************************************************************************/

.jbehave-story-tabs .aui-badge {
    margin-left: 5px;
    color: #FFF;
}

.jbehave-story-tabs .aui-badge.passed {
    background-color: #14892C;
}

.jbehave-story-tabs .aui-badge.failed {
    background-color: #ff0000;
}

.jbehave-story-tabs .aui-badge.pending {
    background-color: #4A6785;
}

.jbehave-story-tabs .aui-badge.skipped {
    background-color: #fffe54;
}

/* Story report */
.jbehave-story-tabs .aui-badge.not-performed {
    /*background-color: #fffe54;*/
    /*apply default jira color scheme*/
}
