$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:aui-experimental-iconfont")
$webResourceManager.requireResourcesForContext("execspec-view-issue-page-resources")
<div id="storyReportsPanel"><!--DEFAULT content--></div>

